@using LionHeart.Web.Models.Basket
@model IndexViewModel


<div class="container">
    <div class="row m-5">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h3>Корзина</h3>
                </div>
                <div class="card-body">
                    <div class="row  d-flex justify-content-center align-items-center text-center">
                        <div class="col-2">
                            <img src="/images/img1.jpg" class="img-thumbnail" style="width: 150px; border-radius: 25px">
                        </div>
                        <div class="col-4">
                            <label class="">
                                Красивая футболка
                            </label>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center text-center">
                            <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;">-</a>
                            <label style="width: 40px; height: 40px; line-height:40px">1</label>
                            <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;">+</a>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <label style="width: 80px; height: 40px; line-height:40px; border-bottom: 1px solid lightgray"><strong>1250р</strong></label>
                        </div>
                    </div>
                    <br />
                    <div class="row  d-flex justify-content-center align-items-center text-center">
                        <div class="col-2">
                            <img src="/images/img1.jpg" class="img-thumbnail" style="width: 150px; border-radius: 25px">
                        </div>
                        <div class="col-4">
                            <label class="">
                                Красивая футболка
                            </label>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center text-center">
                            <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;">-</a>
                            <label style="width: 40px; height: 40px; line-height:40px">1</label>
                            <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;">+</a>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <label style="width: 80px; height: 40px; line-height:40px; border-bottom: 1px solid lightgray"><strong>1250р</strong></label>
                        </div>
                    </div>
                    <br />
                    <div class="row  d-flex justify-content-center align-items-center text-center">
                        <div class="col-2">
                            <img src="/images/img1.jpg" class="img-thumbnail" style="width: 150px; border-radius: 25px">
                        </div>
                        <div class="col-4">
                            <label class="">
                                Красивая футболка
                            </label>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center text-center">
                            <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;">-</a>
                            <label style="width: 40px; height: 40px; line-height:40px">1</label>
                            <a class="btn btn-dark custom-btn" style="width: 40px; height: 40px;">+</a>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <label style="width: 80px; height: 40px; line-height:40px; border-bottom: 1px solid lightgray"><strong>1250р</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Итого:
                </div>
                <div class="card-body">
                    <div>
                        <div>
                            Товаров: 2
                        </div>
                        <div>
                            Стоимость всего: 3400р
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-dark custom-btn">Заказать</a>
                </div>
            </div>
        </div>
    </div>
</div>