@using LionHeart.Core.Interfaces.Services
@inject IOrderService orderService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LionHeart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/supplier-panel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/brand.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LionHeart.Web.styles.css" asp-append-version="true" />
    <style>
        .body-container {
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin: 0;
            max-width: 100%;
            max-height: 100%;
        }
        * {
            font-size: 18px;
        }
    </style>
</head>
<body>
    @{
        var user = await userManager.GetUserAsync(User);
        var userId = user?.Id;
    }
    <header>
        <ul class="nav justify-content-center align-content-center gap-1" style="height: 70px; background-color: #930667">
            @if (user is not null && await userManager.IsInRoleAsync(user, "Supplier"))
            {
                <li class="nav-item me-5 pe-5">
                    <a asp-action="Index" asp-controller="SupplierPanel" class="nav-link site-nav-item" style="color: lightblue">Панель поставщика</a>
                </li>
            }
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Products" class="nav-link site-nav-item">Главное</a>
            </li>
            <li class="nav-item">
                <a asp-action="SearchProducts" asp-controller="Products" class="nav-link site-nav-item">Поиск</a>
            </li>
            <li class="nav-item">
                <a asp-action="ShowProfile" asp-controller="Profile" class="nav-link site-nav-item position-relative ps-3 pe-2">
                    Профиль
                    @await Component.InvokeAsync("NotificationCounter")
                </a>
            </li>
            @if (userId is not null && (await orderService.Any(userId)).Value)
            {
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Orders" class="nav-link site-nav-item">Заказы</a>
                </li>
            }
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Basket" class="nav-link site-nav-item">Корзина</a>
            </li>

            @if (User is not null && signManager.IsSignedIn(User))
            {
                <li class="nav-item ms-5 ps-5">
                    <a href="#" class="nav-link site-nav-item" style="color:white">@User?.Identity?.Name</a>
                </li>

                <form method="post" asp-action="Logout" asp-controller="Auth">
                <li class="nav-item">
                    <button class="nav-link site-nav-item">Выйти</button>
                </li>
                </form>
            }
            else
            {
                <form method="get" asp-action="Login" asp-controller="Auth">
                <li class="nav-item ms-5 ps-5">
                    <button class="nav-link site-nav-item">Войти</button>
                </li>
                </form>
            }
        </ul>
    </header>

    <div class="container body-container" style=">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="background-color: #930667" id="layout-footer-id">
        <div class="container d-flex gap-5">
            <div style="color:darkgray">
                &copy; 2024 - LionHeart
            </div>
            <div>
                <a asp-action="ShowRegistrationInfo" asp-controller="Supplier" class="text-decoration-none" style="color:darkgray">Для поставщиков</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>