<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LionHeart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LionHeart.Web.styles.css" asp-append-version="true" />
    <style>
        .body-container {
            padding-left: 0px !important;
            padding-right: 0px !important;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <header>

        <ul class="nav justify-content-center bg-dark">

            <li class="nav-item nav-custom-item">
                <a asp-action="ListProducts" asp-controller="Products" class="nav-link text-white">Главное</a>
            </li>

            <li class="nav-item nav-custom-item">
                <a class="nav-link text-white" href="#">Поиск</a>
            </li>

            <li class="nav-item nav-custom-item nav-">
                @{
                    var userId = (await userManager.FindByNameAsync(User?.Identity?.Name ?? "NO AUTHORIZED"))?.Id;

                    <a asp-action="ShowProfile" asp-controller="Profiles" asp-route-userId="@userId" class="nav-link text-white">Профиль</a>
                }
            </li>

            <li class="nav-item nav-custom-item">
                <a class="nav-link text-white" href="#">Корзина</a>
            </li>

            @if (User is not null && signManager.IsSignedIn(User))
            {
                <li class="nav-item nav-custom-item">
                    <a class="nav-link text-white opacity-75 disabled">@User?.Identity?.Name</a>
                </li>

                <form method="post" asp-action="Logout" asp-controller="Auth">
                <li class="nav-item nav-btn-hover">
                    <button class="nav-link text-white opacity-75 bg-dark border-0">Выйти</button>
                </li>
                </form>
            }
            else
            {
                <form method="get" asp-action="Login" asp-controller="Auth">
                <li class="nav-item nav-btn-hover">
                    <button class="nav-link text-white opacity-75 bg-dark border-0">Войти</button>
                </li>
                </form>
            }
        </ul>
    </header>

    <div class="container body-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="layout-footer-id">
        <div class="container">
            &copy; 2024 - LionHeart <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>