@model string

@{
    ViewData["Title"] = "Произошла ошибка";
}

<div class="site-body-container d-flex gap-5">
    <div>
        <img src="/images/16410612.jpg" style="height: 500px; width: 250px;">
    </div>
    <div>
        <h2>Извините, произошла ошибка.</h2>
        <p>Мы работаем над исправлением данной ошибки и надеемся устранить ее, как можно скорее.</p>
    </div>
</div>