@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="site-body-container" style="color:#930667">
    <div class="card">
        <div class="card-header" style="background-color:#930667">
            <div class="d-flex justify-content-start gap-2">
                <a asp-action="ShowProfile" class="nav-link custom-btn-link">Профиль</a>
                <a asp-action="ShowFavorites" class="nav-link custom-btn-link">Избранное</a>
                <a asp-action="ShowMyFeedbacks" class="nav-link custom-btn-link">Мои отзывы</a>
                <a asp-action="ShowNotifications" class="nav-link custom-btn-link position-relative">
                    Уведомления
                    @await Html.PartialAsync("Notifications")
                </a>
            </div>
            <div class="d-flex justify-content-end align-items-center" style="color: white;">
            </div>
        </div>
        <div class="card-body bg-light">
            <div class="card p-3 border-0 bg-light">
                @RenderBody()
            </div>
        </div>
    </div>
</div> 