@model ShowNotificationsViewModel

@{
    ViewData["Title"] = "Уведомления";
}

<h2>Уведомления</h2>
<br />
@if (Model.Notifications.Any())
{
    @foreach (var notification in Model.Notifications.OrderByDescending(n => n.CreatedAt))
    {
        <div class="card">
            <div class="text-end">
                <button class="custom-btn-link btn" style="width: 40px;" onclick="deleteNotification('@notification.Id')">✕</button>
            </div>
            <label class="ps-5 text-start text-decoration-underline">@notification.CreatedAt.ToLocalTime().ToString("dd MMMM yyyy, HH:mm")</label>

            <p class="p-5">@notification.Content</p>
            @if (notification.LinkToAction is not null)
            {
                <div class="text-end">
                    <a href="@notification.LinkToAction" class="custom-btn-link btn w-25 mb-4 me-4">Перейти</a>
                </div>
            }
        </div>
        <br />
    }
}
else
{
    <div class="text-center">
        <h5>В данный момент у вас нет уведомлений</h5>
    </div>
}