html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*
.nav-custom-item {
    background-color: #212529;
}*/

.nav-custom-item a:hover {
    background-color: #292f35;
}

.nav-btn-hover:hover {
    background-color: #424d59;
    color: white;
}


.custom-btn:hover {
    background-color: DarkSlateGrey;
}
.custom-button:active {
    
}



