@using LionHeart.Core.Interfaces.Services;
@using LionHeart.Web.Models.Products
@model CreateProductViewModel
@inject ICategoryService categoryService 

@{
    ViewBag.Title = "Добавление товара";
}

<div class="site-body-container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="m-5 w-50 main-color">
        <form asp-action="CreateProduct" method="post" class="card" enctype="multipart/form-data">
            <div class="p-3 main-theme ">
                <h3 class="text-center m-0 ">Добавление товара</h3>
            </div>
            <div class="bg-light p-4">
                <div class="mb-3">
                    <label class="form-label">Название</label>
                    <input asp-for="Name" type="text" class="form-control custom-input" placeholder="Введите название товара">
                </div>
                <div class="mb-3">
                    <label class="form-label">Категория</label>
                    <select asp-for="CategoryId" class="form-select custom-input" aria-label="Default select example">
                        <option selected>Выберите категорию товара</option>
                        @foreach (var category in (await categoryService.GetAll()).Data)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Цена</label>
                    <input asp-for="Price" type="number" class="form-control custom-input" placeholder="Введите цену товара">
                </div>
                <div class="mb-3">
                    <label class="form-label">Количество</label>
                    <input asp-for="Quantity" type="text" class="form-control custom-input" placeholder="Введите количество товара">
                </div>
                <div class="mb-3">
                    <label class="form-label">Описание</label>
                    <textarea asp-for="Description" class="form-control custom-input" rows="3" placeholder="Расскажите о товаре"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Характеристики</label>
                    <textarea asp-for="Specifications" class="form-control custom-input" rows="3" placeholder="Введите характеристики товара"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Картинка</label>
                    <input asp-for="Image" type="file" class="form-control">
                </div>
                <div class="mt-4">
                    <button class="btn btn-grad m-0 w-25">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>