@using LionHeart.Web.Models.Products
@model SearchProductsViewModel

@{
    ViewBag.Title = "Поиск товаров";
    var page = ViewData["Page"] as PagedResponse<Product>;
}

@if (Model is not null && page is not null)
{
    <form method="post" asp-action="SearchProducts">
        <input hidden asp-for="SearchedValue" value="@Model.SearchedValue" />
        <vc:list-products page="page" use-buttons-for-page="true"></vc:list-products>
    </form>
}
else
{
    <div class="site-body-container">
        <div style="height: 300px;"></div>
        <div class="d-flex justify-content-center">
            <form method="post" asp-action="SearchProducts" class="d-flex gap-2">
                <input asp-for="SearchedValue" type="text" class="form-control custom-input" placeholder="Введите названия продукта" style="width:500px;">
                <button class="btn btn-grad">Найти</button>
            </form>
        </div>
    </div>
}