@model Product

@{
    var showFeebacks = ViewBag.ShowFeedbacks;
}

<div class="container">
    <div class="card m-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/img1.jpg" class="img-thumbnail" style="border-radius: 25px">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/img1.jpg" class="img-thumbnail" style="border-radius: 25px">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/img1.jpg" class="img-thumbnail" style="border-radius: 25px">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card m-5">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">@Model.Description</p>
                            <p class="card-text"><small class="text-body-secondary">@Model.Specifications</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row g-0">
                @if (showFeebacks)
                {
                    <div class="card">

                        <div class="card-header">
                            <p>Отзывы</p>
                        </div>

                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="card-body">

                                <div class="card">

                                    <div class="card-header">
                                        Валерий Сошин
                                    </div>

                                    <div class="card-body">

                                        <div class="mb-0">
                                            <p>A well-known quote, contained in a blockquote element.</p>
                                            <footer class="blockquote-footer">7 часов назад</footer>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <a asp-action="Show" asp-route-id="@Model.Id" asp-route-showFeedbacks="true" class="btn btn-dark nav-btn-hover" style="max-width: 200px;" id="showFeedbacks">
                        Посмотреть отзывы
                    </a>
                }
            </div>
        </div>
    </div>
</div>