@{
    ViewData["Title"] = "Информация для поставщика";
    var user = await userManager.GetUserAsync(User);
}

@if (user is not null && !await userManager.IsInRoleAsync(user, "Supplier"))
{
    <div class="container min-vh-100 d-flex justify-content-center align-items-center" style="color: #930667">
        <div class="card border-0 m-5" style="max-width: 1000px;">
            <div class="text-center d-flex justify-content-center">
                <div style="max-width: 500px; max-height:500px;">
                    <img src="/images/img3.jpg" class="img-fluid rounded-start">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Правила для поставщиков</h5>
                <br />
                <div class="card-text">
                    <p>1. Согласие с условиями: Поставщик должен согласиться с условиями и положениями, установленными на сайте. Это включает в себя правила использования системы, политику конфиденциальности и любые другие правила или условия, которые могут быть применимы.</p>
                    <p>2. Регистрация и информация: Поставщик должен предоставить определенную информацию о себе, такую как имя, адрес, номер телефона, электронная почта и другую контактную информацию. Эта информация должна быть точной и актуальной.</p>
                    <p>3. Платежи и цены: Если поставщик предлагает товары или услуги, он должен указать цены и условия оплаты. Это может включать информацию о скидках, специальных предложениях и способах оплаты (онлайн, наличными, наложенным платежом и т.д.).</p>
                    <p>4. Доставка и возврат: Поставщик должен указать информацию о доставке, такую как стоимость доставки и сроки доставки. Они также должны предоставить информацию о возврате товаров и возмещении средств.</p>
                    <p>5. Конфиденциальность: Поставщик должен гарантировать, что он будет соблюдать политику конфиденциальности сайта и не будет собирать или использовать личную информацию пользователей без их согласия.</p>
                    <p>6. Отзывы и гарантии: Поставщик должен предоставлять гарантию на свои товары и услуги и принимать ответственность за любые проблемы, которые могут возникнуть у пользователей.</p>
                </div>
            </div>
            <form method="post" asp-action="Register" asp-controller="Supplier">
                <button class="btn btn-grad w-25">Отправить заявку</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row m-5 text-center" style="color: #930667">
        <div>
            <h3>Вы уже зарегистрированы как Поставщик</h3>
        </div>
        <div>
            <p>Загляните в панель поставщика, чтобы добавить товары на продажу.</p>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <a asp-action="Index" asp-controller="SupplierPanel" class="btn btn-grad">Перейти в панель поставщика</a>
            </div>
        </div>
    </div>
}