@{
    ViewData["Title"] = "Home Page";
}

<div class="site-body-container p-5">
    <p style="font-size: 30px">Добро пожаловать на сайт!</p>
    <p>Этот учебный пет проект, весь код можно найти на гитхабе: <a href="https://github.com/Valery-Soshin/LionHeart">LionHeart</a></p>
    <div>
        <a asp-controller="Products" class="btn custom-btn-link">Перейти к продуктам</a>
    </div>
</div>