

<div class="event card m-5" style="max-width: 500px; width: auto">
    <div class="card-header ">
        <button>fav</button>
    </div>
    <div class="card-body">
        dfdfdf
    </div>
    <div class="card-footer">
        dfdf
    </div>
</div>

<style>
    .event button{
        opacity: 0;
    }
    .event:hover button{
        opacity: 1;
    }

</style>