@using LionHeart.Web.Models.Auth
@model RegisterViewModel

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card w-50 main-color" style="max-width:500px">
        <div class="card-header text-center main-theme">
            <h2>Регистрация</h2>
        </div>
        <div class="card-body">
            <form asp-action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Введите имя</label>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="Имя">
                </div>
                <div class="mb-3">
                    <label class="form-label">Введите фамилию</label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Фамилия">
                </div>
                <div class="mb-3">
                    <label class="form-label">Введите почту</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Почта">
                </div>
                <div class="mb-3">
                    <label class="form-label">Введите пароль</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input asp-for="RemeberMe" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <button type="submit" class="btn btn-grad custom-button m-0 mt-2 mb-2 mt-5 w-100">Зарегистрироваться</button>
                        <button asp-action="Login" class="btn btn-grad custom-button m-0 mt-5 mb-2 w-100">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>