@using LionHeart.Web.Models.Auth
@model RegisterUserViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewBag.Title = "Регистрация пользователя";
}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card w-50 main-color" style="max-width:500px">
        <div class="card-header text-center main-theme">
            <h2>Регистрация</h2>
        </div>
        <div class="card-body bg-light">
            <form asp-action="RegisterUser" method="post">
                <input asp-for="Captcha" type="hidden" name="captcha" id="captchaInput" value="" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Имя</label>
                    <input asp-for="FirstName" type="text" class="form-control custom-input" placeholder="Введите имя">
                </div>
                <div class="mb-3">
                    <label class="form-label">Фамилия</label>
                    <input asp-for="LastName" type="text" class="form-control custom-input" placeholder="Введите фамилию">
                </div>
                <div class="mb-3">
                    <label class="form-label">Почта</label>
                    <input asp-for="Email" type="email" class="form-control custom-input" placeholder="Введите почту">
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input asp-for="Password" type="password" class="form-control custom-input" placeholder="Введите пароль">
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input asp-for="RemeberMe" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <button type="submit" class="btn btn-grad custom-button m-0 mt-2 mb-2 mt-5 w-100">Зарегистрироваться</button>
                        <button asp-action="Login" class="btn btn-grad custom-button m-0 mt-5 mb-2 w-100">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["GoogleReCaptcha:SiteKey"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@Configuration["GoogleReCaptcha:SiteKey"]', { action: 'Login' }).then(function (token) {
                $("#captchaInput").val(token);
            });
        });
    </script>
}